header {
  background-color: var(--dark);
  color: white;
  /* padding: 0.4em; */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header p {
  font-weight: bolder;
}
